.our-team {
  background-color: var(--primery-background-color);
  max-width: 1600px;
  margin: 0 auto;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    background-color: var(--body-bg-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 30px;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;

    padding-top: 30px;
    margin-bottom: 10px;
  }

  &__profession {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;

    margin-bottom: 16px;
  }
}
